<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".controllers.detail.RestaurantDetailActivity"
            android:exported="false"/>


        <!-- Các Activity admin và hệ thống -->
        <activity android:name=".controllers.admin.CreateRestaurantDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.CreateMenuDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.UpdateMenuDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.MenuDetailDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.MenuManagementActivity" android:exported="false" />
        <activity android:name=".controllers.admin.UpdateUserDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.UserDetailDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.UserManagementActivity" android:exported="false" />
        <activity android:name=".controllers.activities.MenuActivity" android:exported="false" />
        <activity android:name=".controllers.activities.SuggestionActivity" android:exported="false" />
        <activity android:name=".controllers.admin.UpdateRestaurantDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.StatisticDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.admin.RestaurantDetailDashboardActivity" android:exported="false" />
        <activity android:name=".controllers.activities.ReviewActivity" android:exported="false" />
        <activity android:name=".controllers.admin.FilterActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.admin.RestaurantManagementActivity"
            android:exported="false"
            android:label="@string/title_activity_restaurant_management"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants" />

        <!-- Trang Home của user -->
        <activity android:name=".controllers.user.UserHomeActivity" android:exported="false" />

        <!-- Chi tiết nhà hàng và danh sách yêu thích -->
        <activity android:name=".controllers.favorite.FavoriteListActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants" />

        <!-- Đăng ký, xác thực, đăng nhập -->
        <activity android:name=".controllers.Login.RegisterActivity"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants" />
        <activity android:name=".controllers.Login.VerifyActivity"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants" />
        <activity android:name=".controllers.Login.Login"
            android:exported="true"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Change Password Activity -->
        <activity
            android:name=".controllers.user.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants" />
        <activity android:name=".controllers.Login.ForgotPasswordActivity"
            android:theme="@style/Theme.PRM391_Project_AppRestaurants">
        </activity>



        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCcm1-tm594tu_GAMv_9uk6OznoyMGpWSc" />

        <!-- Metadata for fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
